body{
    margin: 0;
    padding: 0;
    background: #262626;
    direction: rtl;
}
.rating{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.rating label{
    display: block;
    cursor: pointer;
    width: 50px;
    
}
.rating label::before{
    content: '★';
    position: relative;
    display: block;
    font-size: 50px;
    color: #101010;
}
.rating label::after{
    content: '★';
    position: absolute;
    display: block;
    font-size: 50px;
    color: #6fff00;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
.rating input{
    display: none;
}
.rating input:checked ~ label:after,
.rating label:hover ~ label:after,
.rating label:hover::after{
    opacity: 1;
}